<!-- ALDI -->
<div class="modal fade ranking-modal" id="descAldi" tabindex="-1" role="dialog" aria-labelledby="AldiLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="rankingClose">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="clearfix rankingModalTitle">
                    <span class="float-left">
                        <h3 class="modal-title" id="AldiLongTitle"><img src="https://storage.googleapis.com/gpes-static/ranking-supermercados-2019/logos/aldi.png" alt="Aldi" class="superMarketLogo" /></h3>
                    </span>
                    <span class="float-right">
                        <h3 class="scoreAvanza">6,1</h3>
                    </span>
                </div>

                {{ page.txt_aldi }}
                
                <p class="text-center"><a target="_blank" href="{{ page.link_aldi }}">{{ page.view_records }}</a></p>
                
                <p class="text-center"><a data-dismiss="modal" class="link button-2 d-inline-block" href="javascript:void(0);">{{ page.back_button_txt }}</a></p>

            </div>
        </div>
    </div>
</div>

<!-- DIA -->
<div class="modal fade ranking-modal" id="descDia" tabindex="-1" role="dialog" aria-labelledby="DiaLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="rankingClose">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                
                <div class="clearfix rankingModalTitle">
                    <span class="float-left">
                        <h3 class="modal-title" id="DiaLongTitle"><img src="https://storage.googleapis.com/gpes-static/ranking-supermercados-2019/logos/dia.png" alt="Dia" class="superMarketLogo" /></h3>
                    </span>
                    <span class="float-right">
                        <h3 class="scoreNecesitaMejorar">4,0</h3>
                    </span>
                </div>

                {{ page.txt_dia }}
                
                <p class="text-center"><a target="_blank" href="{{ page.link_dia }}">{{ page.view_records }}</a></p>

                <p class="text-center"><a data-dismiss="modal" class=" link button-2 d-inline-block" href="javascript:void(0);">{{ page.back_button_txt }}</a></p>

            </div>
        </div>
    </div>
</div>

<!-- CARREFOUR -->
<div class="modal fade ranking-modal" id="descCarrefour" tabindex="-1" role="dialog" aria-labelledby="CarrefourLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="rankingClose">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="clearfix rankingModalTitle">
                    <span class="float-left">
                        <h3 class="modal-title" id="CarrefourLongTitle"><img src="https://storage.googleapis.com/gpes-static/ranking-supermercados-2019/logos/carrefour.png" alt="Carrefour" class="superMarketLogo" /></h3>
                    </span>
                    <span class="float-right">
                        <h3 class="scoreMuyMalo">NP<sup>*</sup></h3>
                    </span>
                </div>

                {{ page.txt_carrefour }}
                
                <p class="text-center"><a target="_blank" href="{{ page.link_elcorteingles }}">{{ page.view_records }}</a></p>
                
                <p class="text-center"><a data-dismiss="modal" class="link button-2 d-inline-block" href="javascript:void(0);">{{ page.back_button_txt }}</a></p>

                <div class="nota_final">{{ page.txt_nota_final }}</div>

            </div>
        </div>
    </div>
</div>

<!-- MERCADONA -->
<div class="modal fade ranking-modal" id="descMercadona" tabindex="-1" role="dialog" aria-labelledby="MercadonaLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="rankingClose">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="clearfix rankingModalTitle">
                    <span class="float-left">
                        <h3 class="modal-title" id="MercadonaLongTitle"><img src="https://storage.googleapis.com/gpes-static/ranking-supermercados-2019/logos/mercadona.png" alt="Mercadona" class="superMarketLogo" /></h3>
                    </span>
                    <span class="float-right">
                        <h3 class="scoreInsuficiente">3,2</h3>
                    </span>
                </div>

                {{ page.txt_mercadona }}
                
                <p class="text-center"><a target="_blank" href="{{ page.link_mercadona }}">{{ page.view_records }}</a></p>

                <p class="text-center"><a data-dismiss="modal" class="link button-2 d-inline-block" href="javascript:void(0);">{{ page.back_button_txt }}</a></p>

            </div>
        </div>
    </div>
</div>

<!-- LIDL -->
<div class="modal fade ranking-modal" id="descLidl" tabindex="-1" role="dialog" aria-labelledby="LidlLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="rankingClose">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="clearfix rankingModalTitle">
                    <span class="float-left">
                        <h3 class="modal-title" id="LidlLongTitle"><img src="https://storage.googleapis.com/gpes-static/ranking-supermercados-2019/logos/lidl.png" alt="Lidl" class="superMarketLogo" /></h3>
                    </span>
                    <span class="float-right">
                        <h3 class="scoreAvanza">6,5</h3>
                    </span>
                </div>

                {{ page.txt_lidl }}
                
                <p class="text-center"><a target="_blank" href="{{ page.link_eroski }}">{{ page.view_records }}</a></p>
                
                <p class="text-center"><a data-dismiss="modal" class="link button-2 d-inline-block" href="javascript:void(0);">{{ page.back_button_txt }}</a></p>

                <div class="nota_final">{{ page.txt_nota_final }}</div>

            </div>
        </div>
    </div>
</div>

<!-- EROSKI -->
<div class="modal fade ranking-modal" id="descEroski" tabindex="-1" role="dialog" aria-labelledby="EroskiLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="rankingClose">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="clearfix rankingModalTitle">
                    <span class="float-left">
                        <h3 class="modal-title" id="EroskiLongTitle"><img src="https://storage.googleapis.com/gpes-static/ranking-supermercados-2019/logos/eroski.png" alt="Eroski" class="superMarketLogo" /></h3>
                    </span>
                    <span class="float-right">
                        <h3 class="scoreBueno">7,0</h3>
                    </span>
                </div>

                {{ page.txt_eroski }}
                
                <p class="text-center"><a target="_blank" href="{{ page.link_eroski }}">{{ page.view_records }}</a></p>

                <p class="text-center"><a data-dismiss="modal" class="link button-2 d-inline-block" href="javascript:void(0);">{{ page.back_button_txt }}</a></p>
                
                <div class="nota_final">{{ page.txt_nota_final }}</div>

            </div>
        </div>
    </div>
</div>

<!-- ALCAMPO -->
<div class="modal fade ranking-modal" id="descAlcampo" tabindex="-1" role="dialog" aria-labelledby="AlcampoLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="rankingClose">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="clearfix rankingModalTitle">
                    <span class="float-left">
                        <h3 class="modal-title" id="AlcampoLongTitle"><img src="https://storage.googleapis.com/gpes-static/ranking-supermercados-2019/logos/alcampo.png" class="superMarketLogo" alt="Alcampo" /></h3>
                    </span>
                    <span class="float-right">
                        <h3 class="scoreAvanza">6,2</h3>
                    </span>
                </div>

                {{ page.txt_alcampo }}
                
                <p class="text-center"><a target="_blank" href="{{ page.link_alcampo }}">{{ page.view_records }}</a></p>


                <p class="text-center"><a data-dismiss="modal" class="link button-2 d-inline-block" href="javascript:void(0);">{{ page.back_button_txt }}</a></p>
                
                <div class="nota_final">{{ page.txt_nota_final }}</div>

            </div>
        </div>
    </div>
</div>

<!-- EL CORTE INGLES -->
<div class="modal fade ranking-modal" id="descCorteIngles" tabindex="-1" role="dialog" aria-labelledby="CorteInglesLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="rankingClose">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="clearfix rankingModalTitle">
                    <span class="float-left">
                        <h3 class="modal-title" id="CorteInglesLongTitle"><img src="https://storage.googleapis.com/gpes-static/ranking-supermercados-2019/logos/corte-ingles.png" alt="El Corte Inglés" class="superMarketLogo" /></h3>
                    </span>
                    <span class="float-right">
                        <h3 class="scoreNecesitaMejorar">4,6</h3>
                    </span>
                </div>

                {{ page.txt_elcorteingles }}
                
                <p class="text-center"><a target="_blank" href="{{ page.link_elcorteingles }}">{{ page.view_records }}</a></p>
                
                <p class="text-center"><a data-dismiss="modal" class="link button-2 d-inline-block" href="javascript:void(0);">{{ page.back_button_txt }}</a></p>
                
                <div class="nota_final">{{ page.txt_nota_final }}</div>

            </div>
        </div>
    </div>
</div>
