<!-- ALDI -->
<div class="modal fade download-modal" id="descAldi" tabindex="-1" role="dialog" aria-labelledby="AldiLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="AldiLongTitle">Aldi</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <p>qweqw</p>
                
                <p class="text-center"><a data-dismiss="modal" class="link button-2 d-inline-block" href="javascript:void(0);">Cerrar</a></p>

            </div>
        </div>
    </div>
</div>

<!-- DIA -->
<div class="modal fade download-modal" id="descDia" tabindex="-1" role="dialog" aria-labelledby="DiaLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="DiaLongTitle">Dia</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <p>qweqw</p>

                <p class="text-center"><a data-dismiss="modal" class="link button-2 d-inline-block" href="javascript:void(0);">Cerrar</a></p>

            </div>
        </div>
    </div>
</div>

<!-- CARREFOUR -->
<div class="modal fade download-modal" id="descCarrefour" tabindex="-1" role="dialog" aria-labelledby="CarrefourLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="CarrefourLongTitle">Carrefour</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <p>qweqw</p>
                
                <p class="text-center"><a data-dismiss="modal" class="link button-2 d-inline-block" href="javascript:void(0);">Cerrar</a></p>

            </div>
        </div>
    </div>
</div>

<!-- MERCADONA -->
<div class="modal fade download-modal" id="descMercadona" tabindex="-1" role="dialog" aria-labelledby="MercadonaLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="MercadonaLongTitle">Mercadona</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <p>qweqw</p>
                
                <p class="text-center"><a data-dismiss="modal" class="link button-2 d-inline-block" href="javascript:void(0);">Cerrar</a></p>

            </div>
        </div>
    </div>
</div>

<!-- LIDL -->
<div class="modal fade download-modal" id="descLidl" tabindex="-1" role="dialog" aria-labelledby="LidlLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="LidlLongTitleLongTitle">Lidl</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <p>qweqw</p>
                
                <p><a data-dismiss="modal" href="javascript:void(0);">Cerrar</a></p>

            </div>
        </div>
    </div>
</div>

<!-- EROSKI -->
<div class="modal fade download-modal" id="descEroski" tabindex="-1" role="dialog" aria-labelledby="EroskiLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="EroskiLongTitleLongTitle">Eroski</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <p>qweqw</p>
                
                <p><a data-dismiss="modal" href="javascript:void(0);">Cerrar</a></p>

            </div>
        </div>
    </div>
</div>

<!-- ALCAMPO -->
<div class="modal fade download-modal" id="descAlcampo" tabindex="-1" role="dialog" aria-labelledby="AlcampoLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="AlcampoLongTitle">Alcampo</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <p>qweqw</p>
                
                <p class="text-center"><a data-dismiss="modal" class="link button-2 d-inline-block" href="javascript:void(0);">Cerrar</a></p>

            </div>
        </div>
    </div>
</div>

<!-- EL CORTE INGLES -->
<div class="modal fade download-modal" id="descCorteIngles" tabindex="-1" role="dialog" aria-labelledby="CorteInglesLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="CorteInglesLongTitle">El Corte Inglés</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <p>qweqw</p>
                
                <p class="text-center"><a data-dismiss="modal" class="link button-2 d-inline-block" href="javascript:void(0);">Cerrar</a></p>

            </div>
        </div>
    </div>
</div>
