/* BEGIN STYLES */

#rankingContainer {
    background-color: #fff;
    padding: 1em 1em 0.5em 1em;
    margin-bottom: 1em;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.table th {
    border-top: none;
}

/* Typography */

.rankingTitle {
    font-size: 1.5em !important;
}

#rankingContainer .rankingFooter {
    font-size: 90% !important;
    margin-top: 1em;
}

.rankingFooter h3 {
    font-size: 110% !important;
}

#rankingContainer .intro {
    text-align: center;
    font-size: 90%;
}

.ranking-modal .nota_final {
    font-size: 60%;
    line-height: 140%;
}

#superRanking {
    font-size: 85%;
}

#superRanking th, #superRanking .brandName {
    font-weight: 600;
}

#superRanking .brandName {
    font-size: 120%;
}

#superRanking .moreInfoBrand {
    font-size: 90%;
}

#superRanking .scoreCel {
    font-family: "Rubik", "Source Sans Pro", "Roboto", sans-serif;
    font-weight: bold;
    font-size: 170%;
}

#superRanking .criteriaCol {
    font-size: 80%;
    line-height: 140%;
}

.ranking-modal h3 {
    font-weight: 700 !important;
}

.ranking-modal .modal-content p {
    font-size: 80%;
    line-height: 130%;
}

.rankingCaption {
    font-size: 85%;
}

.scrollMsg {
    color: #aaa;
    font-size: 80%;
    padding: 3px;
}

/* Boxing and spacing */

#superRanking td {
    padding: 0.65em;
}

#superRanking .brandCol img {
    max-width: none; 
    width: 95px; 
    height: 1px;
}

#superRanking .scoreCol img {
    max-width: none; 
    width: 90px; 
    height: 1px;
}

#superRanking .criteriaCol img {
    max-width: none; 
    width: 100px; 
    height: 1px;
}

.rankingClose {
    padding: 10px 15px 0 0;
}

.rankingCaption {
    margin:  0.5em 0 2em 0;
}

.rankingModalTitle {
    margin-bottom: 1em;
}

.float-left {
    float: left!important;
    margin-right: 5px;
}

.float-right {
    float: right!important;
    margin-left: 5px;
}

.text-center {
    text-align: center;
}

/* Score colors */

.trafficLight {
    font-size: 260%;
    vertical-align: middle;
}

.scoreMuyMalo {
    color: #b60202;
}

.scoreInsuficiente {
    color: #ec0909;
}

.scoreNecesitaMejorar {
    color: #F38D1B;
}

.scoreAvanza {
    color: #ECE10A;
}

.scoreBueno {
    color: #66cc00;
}

.scoreMuyBueno {
    color: #016201;
}

/* Row background color */

.rowEroski {
    background-color: rgba(173, 182, 203, 0.1);
}

.rowLidl {
    background-color: rgba(31, 39, 96 , 0.07);
}

.rowAlcampo {

    background-color: rgba(173, 182, 203, 0.1);
}

.rowAldi {
    background-color: rgba(31, 39, 96 , 0.07); 
}

.rowElCorteIngles {
    background-color: rgba(173, 182, 203, 0.1);
}

.rowDia {
    background-color: rgba(31, 39, 96 , 0.07); 
}

.rowMercadona {
    background-color: rgba(173, 182, 203, 0.1);
}

.rowCarrefour {
    background-color: rgba(31, 39, 96 , 0.07);
}


/* Logos */

.ranking-modal .superMarketLogo {
    width: 130px;
}

#superRanking .superMarketLogo {
    width: 90px;
}

#rankingContainer small {
    color: rebeccapurple;
}

/* END STYLES */
