<div id="rankingContainer">
    <h3 class="text-center rankingTitle">{{ page.title }}</h3>

    {{ page.intro }}

    <div class="float-left"><img src="assets/icons/l-arrow.svg" alt="Flecha a la izquierda" id="rankingArrowLeft" /></div>
    <div class="float-right"><img src="assets/icons/r-arrow.svg" alt="Flecha a la derecha" id="rankingArrowRight" /></div>

    <div id="table-responsive" class="table-responsive table-wrapper">
        <table class="table" id="superRanking">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="brandCol">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" />
                        <br />Marca
                    </th>
                    <th scope="col" class="scoreCol">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" />
                        <br />Puntuación final sobre 10
                    </th>
                    <th scope="col" class="criteriaCol">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" />
                        <br />Plan para eliminar plásticos de un solo uso (2025)
                    </th>
                    <th scope="col" class="criteriaCol">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" />
                        <br />Fomenta los envases reutilizables
                    </th>
                    <th scope="col" class="criteriaCol">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" />
                        <br />No fomenta las  falsas soluciones
                    </th>
                    <th scope="col" class="criteriaCol">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" />
                        <br />Fruta y verdura a granel, sin plásticos
                    </th>
                    <th scope="col" class="criteriaCol">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" />
                        <br />Fomenta la venta a granel
                    </th>
                    <th scope="col" class="criteriaCol">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" />
                        <br />Elimina bolsas de un solo uso
                    </th>
                    <th scope="col" class="criteriaCol">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" />
                        <br />Elimina otros plásticos de un solo uso (no envases)
                    </th>
                    <th scope="col" class="criteriaCol">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" />
                        <br />Transparente sobre su huella plástica
                    </th>
                    <th scope="col" class="criteriaCol">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" />
                        <br />Trabaja con proveedores para eliminar plásticos
                    </th>
                    <th scope="col" class="criteriaCol">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" />
                        <br />Fomenta envases 100% reciclables
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="rowAldi">
                    <th scope="row">1</th>
                    <td class="brandCel"><span class="brandName"><img src="assets/logos/aldi.png" alt="Aldi" class="superMarketLogo" alt="Aldi" /></span><br /><a data-toggle="modal" data-target="#descAldi" href="javascript:void(0);" class="moreInfoBrand">Más info...</a></td>
                    <td class="scoreCel">5,6</td>
                    <td>4,0</td>
                    <td>6,8</td>
                    <td>6,0</td>
                    <td>5,8</td>
                    <td>7,0</td>
                    <td>4,8</td>
                    <td>8,0</td>
                    <td>3,0</td>
                    <td>6,5</td>
                    <td>0,0</td>
                </tr>
                <tr class="rowDia">
                    <th scope="row">2</th>
                    <td class="brandCel"><span class="brandName"><img src="assets/logos/dia.png" alt="Dia" class="superMarketLogo" /></span><br /><a data-toggle="modal" data-target="#descDia" href="javascript:void(0);" class="moreInfoBrand">Más info...</a></td>
                    <td class="scoreCel">4,6</td>
                    <td>6,0</td>
                    <td>3,0</td>
                    <td>6,0</td>
                    <td>6,0</td>
                    <td>4,0</td>
                    <td>4,0</td>
                    <td>4,5</td>
                    <td>0,0</td>
                    <td>7,0</td>
                    <td>7,0</td>
                </tr>
                <tr class="rowCarrefour">
                    <th scope="row">3</th>
                    <td class="brandCel"><span class="brandName"><img src="assets/logos/carrefour.png" alt="Carrefour" class="superMarketLogo" /></span><br /><a data-toggle="modal" data-target="#descCarrefour" href="javascript:void(0);" class="moreInfoBrand">Más info...</a></td>
                    <td class="scoreCel">4,2</td>
                    <td>5,5</td>
                    <td>5,0</td>
                    <td>4,0</td>
                    <td>5,5</td>
                    <td>3,5</td>
                    <td>4,0</td>
                    <td>5,5</td>
                    <td>0,0</td>
                    <td>0,0</td>
                    <td>7,5</td>
                </tr>
                <tr class="rowMercadona">
                    <th scope="row">4</th>
                    <td class="brandCel"><span class="brandName"><img src="assets/logos/mercadona.png" alt="Mercadona" class="superMarketLogo" /></span><br /><a data-toggle="modal" data-target="#descMercadona" href="javascript:void(0);" class="moreInfoBrand">Más info...</a></td>
                    <td class="scoreCel">5,1</td>
                    <td>5,5</td>
                    <td>6,5</td>
                    <td>5,0</td>
                    <td>4,0</td>
                    <td>3,5</td>
                    <td>7,0</td>
                    <td>3,0</td>
                    <td>3,0</td>
                    <td>5,5</td>
                    <td>7,0</td>
                </tr>
                <tr class="rowLidl">
                    <th scope="row">5</th>
                    <td class="brandCel"><span class="brandName"><img src="assets/logos/lidl.png" alt="Lidl" class="superMarketLogo" /></span><br /><a data-toggle="modal" data-target="#descLidl" href="javascript:void(0);" class="moreInfoBrand">Más info...</a></td>
                    <td class="scoreCel">4,7</td>
                    <td>6,5</td>
                    <td>4,0</td>
                    <td>4,0</td>
                    <td>4,0</td>
                    <td>3,5</td>
                    <td>6,5</td>
                    <td>6,0</td>
                    <td>0,0</td>
                    <td>6,5</td>
                    <td>9,0</td>
                </tr>
                <tr class="rowEroski">
                    <th scope="row">6</th>
                    <td class="brandCel"><span class="brandName"><img src="assets/logos/eroski.png" alt="Eroski" class="superMarketLogo" /></span><br /><a data-toggle="modal" data-target="#descEroski" href="javascript:void(0);" class="moreInfoBrand">Más info...</a></td>
                    <td class="scoreCel">6,2</td>
                    <td>6,5</td>
                    <td>6,5</td>
                    <td>5,0</td>
                    <td>6,4</td>
                    <td>5,1</td>
                    <td>6,0</td>
                    <td>5,1</td>
                    <td>9,0</td>
                    <td>5,1</td>
                    <td>9,0</td>
                </tr>
                <tr class="rowAlcampo">
                    <th scope="row">7</th>
                    <td class="brandCel"><span class="brandName"><img src="assets/logos/alcampo.png" class="superMarketLogo" alt="Alcampo" /></span><br /><a data-toggle="modal" data-target="#descAlcampo" href="javascript:void(0);" class="moreInfoBrand">Más info...</a></td>
                    <td class="scoreCel">3,5</td>
                    <td>3,9</td>
                    <td>3,5</td>
                    <td>4,0</td>
                    <td>4,0</td>
                    <td>3,5</td>
                    <td>4,0</td>
                    <td>5,5</td>
                    <td>0,0</td>
                    <td>0,0</td>
                    <td>4,0</td>
                </tr>
                <tr class="rowElCorteIngles">
                    <th scope="row">8</th>
                    <td class="brandCel"><span class="brandName"><img src="assets/logos/corte-ingles.png" alt="El Corte Inglés" class="superMarketLogo" /></span><br /><a data-toggle="modal" data-target="#descCorteIngles" href="javascript:void(0);" class="moreInfoBrand">Más info...</a></td>
                    <td class="scoreCel">3,4</td>
                    <td>3,9</td>
                    <td>3,5</td>
                    <td>4,0</td>
                    <td>4,0</td>
                    <td>3,5</td>
                    <td>3,0</td>
                    <td>5,5</td>
                    <td>0,0</td>
                    <td>0,0</td>
                    <td>4,0</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="rankingCaption">
        <span class="scoreRed">&block;</span> Muy mal &nbsp; 
        <span class="scoreOrange">&block;</span> Mal &nbsp; 
        <span class="scoreYellow">&block;</span> Mejor &nbsp; 
        <span class="scoreGreen">&block;</span> Bueno <small>(OBS: faltan nuevas descripciones)</small>
    
    </div>

    <div class="rankingFooter">
    
        <h3>Este ranking</h3>

        <p>Velit scelerisque in dictum non consectetur a erat. Ultrices mi tempus imperdiet nulla malesuada pellentesque elit eget gravida. Ultrices neque ornare aenean euismod elementum nisi quis eleifend quam.</p>
        
    </div>
        
</div>
