<div class="table-responsive">
    <table class="table" id="superRanking">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" class="brandCol">Marca</th>
                <th scope="col" class="scoreCol">Puntuación</th>
                <th scope="col" class="criteriaCol">Tiene plan para eliminar los plásticos de un solo uso para 2025</th>
                <th scope="col" class="criteriaCol">Fomenta los envases reutilizables</th>
                <th scope="col" class="criteriaCol">No fomenta las  falsas soluciones</th>
                <th scope="col" class="criteriaCol">#DesnudaLaFruta</th>
                <th scope="col" class="criteriaCol">Fomenta la venta a granel</th>
                <th scope="col" class="criteriaCol">Elimina bolsas de un solo uso</th>
                <th scope="col" class="criteriaCol">Elimina otros plásticos de un solo uso (no envases)</th>
                <th scope="col" class="criteriaCol">Transparente sobre su huella plástica</th>
                <th scope="col" class="criteriaCol">Trabaja con proveedores</th>
                <th scope="col" class="criteriaCol">Fomenta envases 100% reciclables</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td class="brandCel">Aldi<br /><a href="javascript:void(0);" class="masInfo">Más info...</a></td>
                <td class="scoreCel">55,6</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td class="brandCel">Dia<br /><a href="javascript:void(0);" class="masInfo">Más info...</a></td>
                <td class="scoreCel">45,9</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td class="brandCel">Carrefour<br /><a href="javascript:void(0);" class="masInfo">Más info...</a></td>
                <td class="scoreCel">44,2</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td class="brandCel">Mercadona<br /><a href="javascript:void(0);" class="masInfo">Más info...</a></td>
                <td class="scoreCel">42,3</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td class="brandCel">Lidl<br /><a href="javascript:void(0);" class="masInfo">Más info...</a></td>
                <td class="scoreCel">41,7</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td class="brandCel">Eroski<br /><a href="javascript:void(0);" class="masInfo">Más info...</a></td>
                <td class="scoreCel">40,6</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td class="brandCel">Alcampo<br /><a href="javascript:void(0);" class="masInfo">Más info...</a></td>
                <td class="scoreCel">37,5</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td class="brandCel">El Corte Inglés<br /><a href="javascript:void(0);" class="masInfo">Más info...</a></td>
                <td class="scoreCel">36,7</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
            </tr>
        </tbody>
    </table>
</div>
